<%- include('./partials/_header') %>

    <div class="section" >
        <div class="block">
            <img src="/static/images/warning.png" width="50", height="50" style="padding-right: 350px;"/>
            <br>
                <div class="error-message">
                        <h1><%= err.message %></h1>
                </div>
        </div>
    </div>
<%- include('./partials/_footer') %>

