/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Play';
	src: url('../fonts/Play-Regular.eot');
	src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Scheherazade';
	src: url('../fonts/Scheherazade-Regular.ttf')
}
@font-face{
	font-family: 'Scheherazade-B';
	src: url('../fonts/Scheherazade-Bold.ttf')
}

body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
}
img {
	border: 0;
}
.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}
.mybtn {
	background: url(../images/bg-button.png) no-repeat;
	background-position: 0 -70px;
	color: #fff;
	display: inline-block;
	font: 24px/60px 'OpenSans';
	height: 60px;
	width: 230px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.mybtn:hover {
	background-position: 0 0;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px 0;
	font-family: 'Scheherazade-B';
}
#header > div, #footer > div {
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}
/** Logo **/
#header .logo {
	float: right;
	margin-right: 20px;
	margin-top: -15px;
	
}
#header .logo a {
	background: url(../images/logo.png) no-repeat center top;
	color: #000;
	display: block;
	font: 15px/30px 'Play';
	height: 20px;
	width: 76px;
	padding-top: 68px;

	text-decoration: none;
	text-transform: uppercase;
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 30px;
	margin: 0;
	padding: 0;
	float: right;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 160px;
	text-align: center;
}
#navigation li a {
	color: #818181;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #f99600;
}
#adbox {
	background: url(../images/bg-adbox.jpg) repeat-x left top;
	height: 380px;
	padding: 60px 0;
}
#adbox > div {
	width: 800px;
	margin: 0 auto;
	padding: 0 80px;
}
#adbox > div img {
	float: right;
	margin-left: 60px;
}
#adbox h1, #adbox h2 {
	color: #2c2c2c;
	font-size: 60px;
	line-height: 60px;
	margin: 0;
	text-transform: uppercase;
}
#adbox h2 {
	font-size: 30px;
	line-height: 36px;
	text-transform: none;
}
#adbox p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
#adbox p span {
	display: block;
	font-size: 12px;
	width: 360px;
	padding: 24px 0;
	text-align: center;
}
#adbox p span b {
	font-weight: normal;
	display: block;
	width: 256px;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 510px;
	width: 880px;
	margin: 0 auto;
	padding: 30px 40px 150px 40px;
	direction: rtl;
}
h1 {
	color: #3e3e3e;
	font-size: 40px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	float: left;
	width: 400px;
	margin: 0 20px;
}
#contents .features {
	width: 810px;
	margin: 0 auto;
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}
.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
}
.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color: #727272;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}
.more:hover, .submit-form input[type='submit']:hover {
	background-color: #f99600;
	color: #000;
}
/** main **/
.main {
	float: left;
	background: url(../images/divider.png) repeat-y right top;
	min-height: 100px;
	width: 620px;
	padding-right: 24px;
}
.main h1, .sidebar h1 {
	margin: 0 0 12px;
	position: relative;
	top: -18px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	min-height: 848px;
	width: 216px;
	margin-left: 20px;
}
.sidebar ul, .news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}
.posts {
	border-top: 1px solid #d5d5d5;
}
.posts li {
	border-bottom: 1px solid #d5d5d5;
	padding: 24px 10px 0;
}
.posts li p {
	font-size: 14px;
}
.posts li .title {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}
.posts li .title a {
	color: #2c2c2c;
	font-size: 16px;
	text-decoration: none;
}
.post {
	width: 785px;
	margin: 0 auto;
}
.post h1 {
	padding-top: 12px;
}
#about {
	width: 740px;
	margin: 0 auto;
}
#about h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}
.section {
	font-family: 'Scheherazade';
	font-size: large;
	float: right;
	width: 880px;
}
.section h1 {
	margin-bottom: 18px;
}
.submit-form input[type='text'], .submit-form input[type='password'] {
	font-family: 'Scheherazade';
	font-size: 20px;
	height: 33px;
	line-height: 33px;
	width: 380px;
	border: 1px solid #d5d5d5;
	margin: 0 0 6px;
	padding: 0 4px;
}
.submit-form textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}
.submit-form input[type='submit'] {
	
	background-color: #818181;
	color: #faf5f5;
	cursor: pointer;
	font: 15px/30px Arial, Helvetica, sans-serif;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0 10px;
}
.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: #eee;
	border-top: 1px solid #d8d8d8;
	padding: 20px 0;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
#footer p {
	font-size: 12px;
	line-height: 10px;
	padding-left: 10px;
}
#connect {
	display: inline-block;
	margin-right: 30px;
}
#connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
#connect a.googleplus {
	background-position: 0 -40px;
}
#connect a.twitter {
	background-position: 0 -80px;
}
#connect a.tumbler {
	background-position: 0 -120px;
}
#connect a.facebook:hover {
	background-position: -40px 0;
}
#connect a.googleplus:hover {
	background-position: -40px -40px;
}
#connect a.twitter:hover {
	background-position: -40px -80px;
}
#connect a.tumbler:hover {
	background-position: -40px -120px;

}
/*----------------------------error-message--------------------------*/
.block{
	padding-top: 150px;
	height: 500px;
	width: 800px;
	float: right;
	direction: rtl;
}
.error-message {
	box-decoration-break: clone;
	text-decoration: #585858;
	font-family: 'Scheherazade';
	background-color: white;
}

/*------------------------------ search ------------------------------*/
td,th {
	text-align: center;
}

/*------------------------------ login ------------------------------*/
html {
    position: relative;
    min-height: 100%;
}
  body {
	font-family: "Poppins", sans-serif;
	height: 100%;
  }
  
  a {
	color: #92badd;
	display:inline-block;
	text-decoration: none;
	font-weight: 400;
  }
  
  h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display:inline-block;
	margin: 40px 8px 10px 8px; 
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
  }
  
  #formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
  }
  
  #formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
	color: #cccccc;
  }
  
  h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
	background-color: #56baed;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
	box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
	background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
  }
  
  input[type=text], input[type=password] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder, input[type=password]:placeholder {
	color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
  
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
  }
  
  .fadeIn.first {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
  }
  
  .fadeIn.second {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
  }
  
  .fadeIn.third {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: #56baed;
	content: "";
	transition: width 0.2s;
  }
  
  .underlineHover:hover {
	color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
	width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
	  outline: none;
  } 
  
  #icon {
	width:60%;
  }