<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title><%=appConfig.appName%></title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="/"></a>
			</div>
			<ul id="navigation">
                <li>
					<a href="#">
						<h2>اتصل بنا</h2>
					</a>
				</li>
				<li>
					<a href="/logout">
						<h2>تسجيل خروج</h2>
					</a>
                </li>
                <li>
					<a href="/api/user/edit">
						<h2> بيانات المستخدم</h2>
					</a>
                </li>
				<li>
					<a href="/api/litter/search">
						<h2>بحث</h2>
					</a>
				</li>
				<li class="active">
					<a href="/api/litter/new">
						<h2>خطاب</h2>
					</a>
				</li>
			</ul>
		</div>
    </div>
    <%
    const { email } = user;
    %>
	<div id="contents">
		<form action="/api/user/update%>" method="post" class="submit-form">
		<div class="section">
			<h1  align="center"> بيانات المستخدم</h1>
				<div style="width: 400px; float: right;">
					<% if(typeof message != 'undefined' ){%>
						<h2 style="color: red;"><%=message%></h2>
						<br>
					<%}%>
						<label for="model">الباسورد القديم:</label>
						<input name="oldPass" type="password" placeholder="password" />
						<br>
		
						<label for="chassis">البريد الالكتروني:</label>
						<input name="email" type="text" value="<%=email%>" />
						<br>
		
						<label for="motor">الباسورد الجديد:</label>
						<input name="newPass" type="password" placeholder="password" />
                        <br>
                        
                        <div style="width: 250px; float: left;">
                            <input type="submit" value="تعديل البيانات"/>
                            <br>    
                        </div>

				</div>
				
			</div>
		</form>

	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="#" target="_blank" class="facebook"></a><a href="#" target="_blank" class="googleplus"></a><a href="#" target="_blank" class="twitter"></a><a href="#" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2020 Alazhary. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>