<%- include('../partials/_header') %>

    <%
    const { email } = user;
    %>
	<div id="contents">
		<form action="/api/user/update%>" method="post" class="submit-form">
		<div class="section">
			<h1  align="center"> بيانات المستخدم</h1>
				<div style="width: 400px; float: right;">
					<% if(typeof message != 'undefined' ){%>
						<h2 style="color: red;"><%=message%></h2>
						<br>
					<%}%>
						<label for="model">الباسورد القديم:</label>
						<input name="oldPass" type="password" placeholder="password" />
						<br>
		
						<label for="chassis">البريد الالكتروني:</label>
						<input name="email" type="text" value="<%=email%>" />
						<br>
		
						<label for="motor">الباسورد الجديد:</label>
						<input name="newPass" type="password" placeholder="password" />
                        <br>
                        
                        <div style="width: 250px; float: left;">
                            <input type="submit" value="تعديل البيانات"/>
                            <br>    
                        </div>

				</div>
				
			</div>
		</form>

	</div>
<%- include('../partials/_footer') %>
