<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Zerotype Website Template</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div name="header">
		<div>
			<div class="logo">
				<a href="index.html"></a>
			</div>
			<ul id="navigation">
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="features.html">Features</a>
				</li>
				<li>
					<a href="news.html">News</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li class="active">
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<form action="/api/litter/new" method="post" enctype="application/x-www-form-urlencoded" class="message">
		<div class="section">
			<h1  align="center">خطاب جديد</h1>
			<div>
				<p>
					<h2>
						بيانات قائد المرور
					</h2>
				</p>
		
					<label for="destination">قائد مرور:</label>
					<input name="destination" type="text" placeholder="destination" />
					
					<hr>
			</div>
				<div style="width: 400px; float: right;">

						<p>
							<h2>
								بيانات المركبة
							</h2>
						</p>
		
						<label for="model">الطراز:</label>
						<input name="machineData[model]" type="text" placeholder="model" />
						<br>
		
						<label for="chassis">الشاسية:</label>
						<input name="machineData[chassis]" type="text" placeholder="chassis" />
						<br>
		
						<label for="motor">الموتور:</label>
						<input name="machineData[motor]" type="text" placeholder="motor" />
						<br>
		
						<label for="year">سنة الصنع:</label>
						<input name="machineData[year]" type="text" placeholder="year" />
						<br>
		
						<label for="color">اللون:</label>
						<input name="machineData[color]" type="text" placeholder="color" />
						<br>

				</div>
				<div style="width: 400px; float: left;">
						<p>
							<h2>
								بيانات العميل
							</h2>
						</p>
		
						<label for="name">الإسم:</label>
						<input name="customerData[name]" type="text" placeholder="name" />
						<br>
		
						<label for="nationalid">رقم قومي:</label>
						<input name="customerData[nationalid]" type="text" placeholder="nationalid" />
						<br>
		
						<label for="address">المقيم:</label>
						<input name="customerData[address]" type="text" placeholder="address" />
						<br>
		
						<label for="city">المحافظة:</label>
						<input name="customerData[city]" type="text" placeholder="city" />
						<br>
						<br>
						<div style="width: 250px; float: left;">
							
					<input type="submit" placeholder="Send"/>
					<br>
					
				        </div>
				</div>
				
				
			</div>
		</form>

	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2023 Zerotype. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>